/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;    display: flex;
    flex-direction: column;}

header {
    
    flex: 0;
    height: 4em;
    background-color: lightblue;
}

main {
    flex: 1;
}

footer {
    position:fixed;
    bottom:0px;
    flex: 0;
}